
<div>

    <div class="containerC">
        <div class="containerComm">
            <div class="containerRow">
                <img width="45px" height="40px" src="{{ asset('assets/user.svg')}}">
                <div class="containerUser">
                    <p>  userName </p>
                    <p style="font-size: 13px;"> date</p>
                </div>
            </div>
            <p> Très très el endroit calme et paisible. La vue est incroyable et le spa privatif très apprécié. Merci Daniel pour la qualité de l’établissement et du service</p>
        </div>
        <div class="containerComm">
            <div class="containerRow">
                <img width="45px" height="40px" src="{{ asset('assets/user.svg')}}">
                <div class="containerUser">
                    <p>  userName </p>
                    <p style="font-size: 13px;"> date</p>
                </div>
            </div>
            <p> Nous avons passé un très bon séjour! Tout était très bien!
                Merci! </p>
        </div>
        <div class="containerComm">
            <div class="containerRow">
                <img width="45px" height="40px" src="{{ asset('assets/user.svg')}}">
                <div class="containerUser">
                    <p>  userName </p>
                    <p style="font-size: 13px;"> date</p>
                </div>
            </div>
            <p> Le séjour était absolument parfait :) le petit déjeuner était vraiment bon et nous avons également fait une dégustation des huiles d'olive produites à la ferme </p>
        </div>
        <!-- </div>
     <div class="containerCal">
        <div class="containerComm">
            <div class="containerRow">
                <img width="45px" height="40px" src="../assets/user.png">
                <div class="containerUser">
                    <p>  userName </p>
                    <p style="font-size: 13px;"> date</p>
                </div>
            </div>
            <p> Nous sommes toujours si positivement éblouis. Waouh. Tout le logement est juste un rêve. La piscine, la vue, les chambres ainsi que la salle de sport panoramique étaient tout</p>
        </div>
        <div class="containerComm">
            <div class="containerRow">
                <img width="45px" height="40px" src="../assets/user.png">
                <div class="containerUser">
                    <p>  userName </p>
                    <p style="font-size: 13px;"> date</p>
                </div>
            </div>
            <p> L'endroit idéal pour se détendre avec un restaurant de première classe, une belle piscine et un service d'hébergement. Nous nous sommes sentis tout à fait à l'aise et </p>
        </div>
        <div class="containerComm">
            <div class="containerRow">
                <img width="45px" height="40px" src="../assets/user.png">
                <div class="containerUser">
                    <p>  userName </p>
                    <p style="font-size: 13px;"> date</p>
                </div>
            </div>
            <p> J'ai tout aimé dans ce logement ! Nouveau, magnifiquement conçu, haut dans la colline, vue incroyable, piscine impressionnante, bon petit-déjeuner et donc la liste continue. </p>
        </div>
       </div>-->
 </div>