<footer class="footer_container" id="myContent">
    <footer id="myContent1" class="content footer1">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">© 2023 Ymara, Inc</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">·</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Confidentialité</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">·</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Condition générales</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">·</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Plan du site</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">·</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Fonctionnement du site</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">·</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Infos sur Ymara</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">·</a></li>
            <li class="nav-item"><a id="myToggle1" href="#" class="nav-link px-2 text-muted">Assistance et ressources <i
                            class="bi bi-chevron-bar-up"></i> </a></li>
        </ul>
    </footer>
    <footer id="myContent2" class="content row row-cols-1 row-cols-sm-2 row-cols-md-5 border-top">
        <p id="myToggle2"><i class="bi bi-x-circle"></i></p>
        <div class="col mb-3">
            <h5>Assitance</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Centre d'aide</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Options d'annulation</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nos mesures de
                        sécurité</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Signaler un problème de
                        voisinage</a></li>

            </ul>
        </div>

        <div class="col mb-3">
            <h5>Compte</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Connexion</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inscription</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mes réservations</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Signaler un problème de
                        connexion</a></li>

            </ul>
        </div>

        <div class="col mb-3">
            <h5>Acceuil de voyageurs</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mettre mon logement sur
                        Ymara</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ressources pour les
                        hôtes</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Acceuillir de manière
                        responsable</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Signaler un problème de
                        location</a></li>

            </ul>
        </div>
        <div class="col mb-3">
            <h5>A propos Ymara</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nos fondateurs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nos nouveautés</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Noter Ymara</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contacter nous!</a></li>
            </ul>
        </div>
    </footer>
</footer>
{% block javascripts %}
    <script src="{{ asset('script/footer.js') }}"></script>

{% endblock %}

