.grand_conteneur{
    display: flex;
    gap: 3%;
    margin: 30px;
    flex-wrap: wrap;

}
.conteneur-annonce{
    width: 22%;
    display: flex;
    flex-direction: column ;
    gap: 0px;



}

.images-maison{width: 100%;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10%;
    position: relative;
    display: inline-block;


}
.coeur{
    color: rgb(72, 70, 70);
    position: absolute;
    top: 7%;
    left: 88%;
    font-size: 23px;
}
.coeur:hover{
    cursor: pointer;
}
.rouge{
    color: red;
}



.carousel-item img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.pays{padding-top: 10px;
    font-weight: 600;

    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}
.note{
    font-weight: 400;
    padding-right: 5px;
}
.titre{
    padding-top: 0;
    font-weight: 100;
    color: #868686;
    padding-left: 5px;

}
.date{
    padding-top: 0;
    font-weight: 100;
    color: #868686;
    padding-left: 5px;


}
.prix{
    font-weight: 600;
    padding-top: 10px;
    padding-left: 5px;
}
.nuité{
    font-weight: 300;

}