
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}
.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 15px;
    box-shadow: 0 15px 20px #ABB2B9;


}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    width:50% ;
    padding-bottom: 15px;
}

.input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.input-box:nth-child(2n){
    justify-content: end;
}
.input-box label{
    width:95%;
    font-weight: bold;
    margin: 5px 0;
}
.input-box input{
    height: 40px;
    width:95% ;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn1{
    margin-top:10px ;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    color: white;
    background-image: linear-gradient(to right,#962fbf, #e61e4d);
    font-size: 20px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border:2px solid #e61e4d;
    color:#e61e4d;
}
.logo-form{
    height: 70px;
    width: 55px;
}

.button-container{
    margin: 15px 0 ;
}

