


<div class="grand_conteneur">
    <div class="conteneur-annonce">
        <div class="images-maison">
            {% include ('reservation/caroussel-reservation.html.twig') with {numAnnonce:1} %}

        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">

            {%  include ('reservation/caroussel-reservation.html.twig') with {numAnnonce:2} %}

        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include ('reservation/caroussel-reservation.html.twig') with {numAnnonce:3} %}

</div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include ('reservation/caroussel-reservation.html.twig') with {numAnnonce:4} %}

</div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
</div>

<div class="grand_conteneur">
    <div class="conteneur-annonce">
        <div class="images-maison">

           {% include ('reservation/caroussel-reservation.html.twig') with {numAnnonce:5} %}

        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>

