



{% block stylesheets %}


{% endblock %}


{% block body %}
    <div class="subnav">
        <button class="btn-filtre" id="open-modal" data-toggle="modal"  data-target="#myModal">
            <i class="fa-solid fa-sliders "></i>
            Filters
        </button>
        <div id="myModal" class="modal fade" >
            <div class="modal-dialog">
                <div class="modal-content" id="filtre-content">
                    <div class="header">
                        <span class="close"><i class="fa-solid fa-xmark fa-2xs" data-dismiss="modal"></i></span>
                        <h4 class="modal-title">Filtres</h4>
                    </div>

                    <div class="modal-body" id="filtres-body">

                        <div class="modal-item fourchette-prix fc">
                            <h5>Fourchette de prix</h5>
                            <span>Le prix moyen par nuit est de 401€ </span><br>
                            <div id="price-div">
                                <span id="prix-affiche"><b>10 €</b></span>
                            </div>
                            <div data-role="rangeslider">
                                <input type="range" name="price" id="price" min="10" value="10" max="540">
                            </div>
                        </div>

                        <div class="modal-item type-logement fc">
                            <h5>Type de logement</h5>
                            <label class="fl">
                                <input type="checkbox" name="logement" value="logement_entier">
                                <b>Logement entier</b>
                                <br><span>Un logement entier rien que pour vous.</span>
                            </label>
                            <label class="fl">
                                <input type="checkbox" name="logement" value="chambre_privee">
                                <b>Chambre privée</b>
                                <br><span>Une chambre privée dans un logement ou un hôtel, avec des parties communes partagées avec d'autres personnes.</span>
                            </label>
                            <label class="fl">
                                <input type="checkbox" name="logement" value="chambre_partagee">
                                <b>Chambre partagée</b>
                                <br><span>Un espace couchage et des parties communes qui peuvent être partagés avec d'autres personnes.</span>
                            </label>

                        </div>

                        <div class="modal-item chambres-lits fc">
                            <h5>Chambres et lits</h5>
                            <div class="chambres">
                                <h6>Chambres</h6>
                                <div id="chambres" class="number-boxes">
                                    <span class="tout selected">Tout</span>
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                    <span>4</span>
                                    <span>5</span>
                                    <span>6</span>
                                    <span>7</span>
                                    <span>8+</span>
                                </div>
                            </div>
                            <div class="lits">
                                <h6>Lits</h6>
                                <div class="number-boxes">
                                    <span id="tout" class="selected">Tout</span>
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                    <span>4</span>
                                    <span>5</span>
                                    <span>6</span>
                                    <span>7</span>
                                    <span>8+</span>
                                </div>
                            </div>
                            <div class="salles-de-bain">
                                <h6>Salles de bain</h6>
                                <div class="number-boxes">
                                    <span id="tout" class="selected">Tout</span>
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                    <span>4</span>
                                    <span>5</span>
                                    <span>6</span>
                                    <span>7</span>
                                    <span>8+</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-item ">
                            <h5>Type de propriété</h5>
                            <div class="type-propriete">
                                <div id="maison" class="type">
                                    <i class="fa-solid fa-house"></i>
                                    <br><span>Maison</span>
                                </div>
                                <div id="appartement" class="type">
                                    <i class="fa-solid fa-building"></i>
                                    <br><span>Appartement</span>
                                </div>
                                <div id="hotel" class="type">
                                    <i class="fa-solid fa-hotel"></i>
                                    <br><span>Hôtel</span>
                                </div>
                                <div id="maison-dhotes" class="type">
                                    <i class="fa-solid fa-house-flood-water"></i>
                                    <br><span>Maison d'hôtes</span>
                                </div>
                            </div>
                        </div>

                        <div class="modal-item equipements fc">
                            <h5>Équipements</h5>
                            <div class="equipement-base">
                                <h6>Produits et services de base</h6>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="wifi">
                                            <span>Wifi</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="cuisine">
                                            <span>Cuisine</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="lave-linge">
                                            <span>Lave-linge</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="seche-linge">
                                            <span>Sèche-linge</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="climatisation">
                                            <span>Climatisation</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="chauffage">
                                            <span>Chauffage</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="options hide" id="options">

                                <div class="grid-container" >
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="espace">
                                            <span>Espace de travail dedié</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="television">
                                            <span>Télévision</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="seche-cheveux">
                                            <span>Sèche-cheveux</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="fer-a-repasser">
                                            <span>Fer à repasser</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <h6>Caractéristiques</h6>
                                    </div>
                                    <div class="grid-item"></div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="piscine">
                                            <span>Piscine</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="jacuzzi">
                                            <span>Jacuzzi</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="parking">
                                            <span>Parking</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="station">
                                            <span>Station de recharge pour véhicules électriques</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="lit">
                                            <span>Lit pour bébé</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="salle">
                                            <span>Salle de sport</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="barbecue">
                                            <span>Barbecue</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="dej">
                                            <span>Petit déjeuner</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="cheminee">
                                            <span>Cheminée</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="fumeur">
                                            <span>Logement fumeur</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <h6>Emplacement</h6>
                                    </div>
                                    <div class="grid-item"></div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="bord">
                                            <span>Bord de mer</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="front">
                                            <span>Front de mer</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <h6>Sécurité</h6>
                                    </div>
                                    <div class="grid-item"></div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="fumee">
                                            <span>Détection de fumée</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="carbone">
                                            <span>Détecteur de monoxyde de carbone</span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div id="toggleOptions" onclick="showMore('#toggleOptions','#options')">
                                <span>Afficher plus d'options</span>
                            </div>
                        </div>

                        <div class="modal-item reservation fc">
                            <div class="reservation-title">
                                <h5>Options de réservation</h5>
                            </div>
                            <div class="option-reservation">
                                <label class="description fl">
                                    <span>Réservation instantanée</span><br>
                                    <span>Logements que vous pouvez réserver sans attendre l'approbation de l'hôte</span>
                                </label>
                                <label class="switch fl">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="option-reservation">
                                <label class="description fl">
                                    <span>Arrivée autonome</span><br>
                                    <span>Accès facile au logement à l'arrivée</span>
                                </label>
                                <label class="switch fl">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                        <div class="modal-item equipements fc">
                            <h5>Éléments d'accessibilité</h5>
                            <div class="equipement-base">
                                <h6>Entrée et stationnement pour les voyageurs</h6>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="access" value="entree">
                                            <span>Entrée de plain-pied pour les voyageurs</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="access" value="largeur">
                                            <span>Largeur de l'entrée > 81 cm</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="access" value="parking">
                                            <span>Place de parking accessible</span>
                                        </label>
                                    </div>
                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="access" value="plain-pied">
                                            <span>Accès de plain-pied à l'entrée</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="options hide" id="access-options">
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <h6>Chambre</h6>
                                    </div>
                                    <div class="grid-item"></div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="chambre" value="plain-pied">
                                            <span>Accès de plain-pied à la chambre</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="chambre" value="largeur">
                                            <span>Largeur de l'entrée > 81 cm</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <h6>Salles de bain</h6>
                                    </div>
                                    <div class="grid-item"></div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="salle-de-bain" value="plain-pied">
                                            <span>Accès de plain-pied à la salle de bains</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="salle-de-bain" value="largeur">
                                            <span>Largeur de l'entrée > 81 cm</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="salle-de-bain" value="barre-douche">
                                            <span>Barre d'appui pour douche</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="salle-de-bain" value="barre-toilettes">
                                            <span>Barre d'appui pour toilettes</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="salle-de-bain" value="douche-plain-pied">
                                            <span>Douche de plain-pied</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="salle-de-bain" value="siege">
                                            <span>Siège de douche ou de bain</span>
                                        </label>
                                    </div>


                                    <div class="grid-item">
                                        <h6>Emplacement</h6>
                                    </div>
                                    <div class="grid-item"></div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="bord">
                                            <span>Bord de mer</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="front">
                                            <span>Front de mer</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <h6>Sécurité</h6>
                                    </div>
                                    <div class="grid-item"></div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="fumee">
                                            <span>Détection de fumée</span>
                                        </label>
                                    </div>

                                    <div class="grid-item">
                                        <label class="fl">
                                            <input type="checkbox" name="equipement" value="carbone">
                                            <span>Détecteur de monoxyde de carbone</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="accessOptions" onclick="showMore('#accessOptions','#access-options')">
                                <span>Afficher plus d'options</span>
                            </div>
                        </div>

                        <div class="modal-item last reservation fc">
                            <div class="reservation-title">
                                <h5>Séjours exceptionnels</h5>
                            </div>

                            <div class="option-reservation">
                                <label class="description">
                                    <span>Superhôte</span><br>
                                    <span>Séjournez chez des hôtes reconnus.</span><br>
                                    <a style="color:black; font-weight:500;" target="_blank" href="https://www.airbnb.fr/d/superhost">En savoir plus</a>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="option-reservation">
                                <label class="description">
                                    <span>Ymara Plus</span><br>
                                    <span>Chaque logement Ymara Plus est évalué pour sa qualité.</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>










{% endblock %}

{%  block javascripts %}

{% endblock %}
