<div class="choix">
    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="false" >
        <div class="carousel-inner" >
            <div class="carousel-item active"  >
                <div class="filtre" >
                    <div >
                        <i class="fa-solid fa-water" ></i>
                        <div>Vue sur mer</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <div>Villa</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-mountain-sun"></i>
                        <div>Montagne</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tree"></i>
                        <div>Nature</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-snowflake"></i>
                        <div>Arctique</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-skiing"></i>
                        <div>Sport d'hiver</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-binoculars"></i>
                        <div>Avec Vue</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tents"></i>
                        <div>Camping</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tractor"></i>
                        <div>Ferme</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-swimming"></i>
                        <div>Piscine</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <div>Pieds dans l'eau</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-ship"></i>
                        <div>Bateau</div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="filtre" >
                    <div>
                        <i class="fa-solid fa-water"  ></i>
                        <div>Vue sur mer</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <div>Villa</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-mountain-sun"></i>
                        <div>Montagne</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tree"></i>
                        <div>Nature</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-snowflake"></i>
                        <div>Arctique</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-skiing"></i>
                        <div>Sport d'hiver</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-binoculars"></i>
                        <div>Avec Vue</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tents"></i>
                        <div>Camping</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tractor"></i>
                        <div>Ferme</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-swimming"></i>
                        <div>Piscine</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <div>Pieds dans l'eau</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-ship"></i>
                        <div>Bateau</div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="filtre" >
                    <div>
                        <i class="fa-solid fa-water"  ></i>
                        <div>Vue sur mer</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <div>Villa</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-mountain-sun"></i>
                        <div>Montagne</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tree"></i>
                        <div>Nature</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-snowflake"></i>
                        <div>Arctique</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-skiing"></i>
                        <div>Sport d'hiver</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-binoculars"></i>
                        <div>Avec Vue</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tents"></i>
                        <div>Camping</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-tractor"></i>
                        <div>Ferme</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-swimming"></i>
                        <div>Piscine</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <div>Pieds dans l'eau</div>
                    </div>
                    <div>
                        <i class="fa-solid fa-ship"></i>
                        <div>Bateau</div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev" id="prv">
            <i class="bi bi-arrow-left-circle"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next" id="nxt" >
            <i class="bi bi-arrow-right-circle"></i>
        </a>
    </div>
    <div > {% include 'subnav/index.html.twig' %}</div>

</div>